#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inner {
  display: table;
  margin: 0 auto;
}

#calculator_div{
	width:100%;
}

#calculator{
	width: 80%;
	padding: 15px;
}