#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inner {
  display: table;
  margin: 0 auto;
}

#calculator_div{
	width:100%;
}

#calculator{
	padding:10%;
	margin-top: 30px;
}