body {
    line-height: 1.8;
    font-family: 'Bellefair', serif;
}

a,
  a:focus,
  a:hover {
      color: #fff;
      font-size: 200%;
  }

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
      color: #333;
      text-shadow: none;
      background-color: #fff;
      border: .05rem solid #fff;
  }

  body {
      height: 100%;
      color: #fff;
      text-align: center;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      background-color: #1a1a1a;
  }


  h1,
  p {
      color: #66b34d;
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;

  }

  h1 {
      font-size: 400%;
  }

.h2{
  color: #66b34d;
  font-size: 200%;
  margin-left: 14%;
  margin-right: 14%;

}
#begin{
  font-size: 200%;
}
.btn{
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 3%;
}

<!-- responsivness --> 

  @include media-breakpoint-up(sm) {
      html {
          font-size: 16px;
      }
  }

  @include media-breakpoint-up(md) {
      html {
          font-size: 20px;
      }
  }

  @include media-breakpoint-up(lg) {
      html {
          font-size: 28px;
      }
}