html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}

html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body{
	margin:0;
}

img{
	border-style:none;
	width:100%;
}

.last{
	padding-top: 5%; 
	padding-bottom: 5%;
}
.third{
	float:left;
	width:100%;
}

@media (min-width:601px){
	.third{
		width:33.33333%;
	}
}

.row-padding,.row-padding>.third{
	padding:0 8px;
}

.container{
	padding:0.01em 16px;
}

body{
	text-align: center;
	color: #5e5e5e;
}

.space-bottom{
	margin-bottom:50px;
}

.displayer{
	width: 50%; 
	margin:auto; 
	display:block;
}